<!-- <div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category"><%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-primary btn-lg" %></div>
        <div class="card-description">
          <h2><%= cocktail.ingredients %></h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <% end %>
  </div>
</div> -->


<div class="container-index">
  <div class="left-side">
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-success btn-lg" %>
  </div>

  <div class="right-side">
    <div class="container-fluid">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="card-name">
           <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
