.footer {
  background: #F4F4F4;
  align-items: center;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  padding-top: 17px;
}

.footer-copyright {
  text-align: center;
}

.footer .fa-heart {
  color: #D23333;
}
